/* Glassmorphism theme */
html[data-bs-theme="glassmorphism"], body.theme-glassmorphism, .glassmorphism {
  $background: linear-gradient(180deg, rgba(255,255,255,0.02), rgba(255,255,255,0.01));
  $color: white;

  background: $background;
  color: $color;

  .app-header, .app-footer {
    background: rgba(255,255,255,0.06);
    -webkit-backdrop-filter: blur(6px) saturate(120%);
    backdrop-filter: blur(6px) saturate(120%);
    border-bottom: 1px solid rgba(255,255,255,0.06);
    color: $color !important;
  }
  
  .player-card, .stat-box, .game-card, .modal-content {
    background: rgba(255,255,255,0.06) !important;
    border: 1px solid rgba(255,255,255,0.08) !important;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    color: $color !important;
  }

  .game-card__image {
    background-color: rgba(255,255,255,0.03);
  }

  select {
    background: rgba(255, 255, 255, 0.06) !important;
    border: 1px solid rgba(255, 255, 255, 0.08) !important;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    color: #0f1724;
  }

  .input, .input-group-text, .form-control {
    background: rgba(255, 255, 255, 0.06) !important;
    border: 1px solid rgba(255, 255, 255, 0.08) !important;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    color: #0f1724;
  }

  #pagination-controls, .pagination-controls,
  #pagination, .pagination {
    background: rgba(255, 255, 255, 0.06) !important;
    border: 1px solid rgba(255, 255, 255, 0.08) !important;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    color: #0f1724;

    .page-link, .page-item {
      background: inherit !important;
      border: none !important;
      color: inherit !important;

      &.active {
        background: rgba(255, 255, 255, 0.06) !important;
        border: 1px solid rgba(255, 255, 255, 0.08) !important;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        color: #0f1724;
      }
    }
  }

  .bg-body, .bg-body-secondary, .bg-body-tertiary {
    background-color: rgba(255, 255, 255, 0.03) !important;
  }

  .btn {
    background: rgba(255, 255, 255, 0.06) !important;
    border: 1px solid rgba(255, 255, 255, 0.08) !important;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    color: #0f1724;
  }
}
