// ==========================================================================
// Dropdowns
// ==========================================================================
$bradius: calc(16px + 8px);

.dropdown {
  border-radius: $bradius;

  .dropdown-menu {
    border-radius: $bradius;

    .dropdown-item {
      $paddingx: 1rem;
      $paddingy: 0.50rem;
      border-radius: $bradius;
      padding: $paddingy $paddingx;
    }
  }
}

select, .form-select {
  border-radius: $bradius !important;
  padding: 0.5rem 1rem;
  width: auto !important;

  option {
    border-radius: $bradius !important;
  }
}

.form-select {
  select {
    padding: 0.5rem 1rem;
  }
}